button.LayoutItem {
  display: flex;
  width: 100%;
  background-color: transparent !important;
  border: 0;
  border-bottom: 1px solid #323232 !important;
  cursor: pointer;
  align-items: center;
  color: white;
  padding: 0.5em 0;

  img {
    width: 4em;
  }

  span {
    margin-left: 1em;
    flex-grow: 1;
    text-align: left;
  }

  svg {
    color: #77AEF9;
    margin-right: 1em
  }
}